<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
  <h2>Sugerencias de emisión</h2>
  <div fxLayout="column" fxLayoutAlign="space-around strech" fxLayoutGap="10px">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Antes de emitir por primera vez</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ul>
            <li>Tenemos que leer y seguir las indicaciones del documento "¿Que hago para emitir?" que podéis encontrar <a target="_blank" mat-button color="accent" href="https://docs.google.com/document/d/1h3txLERtoEcslHOloS7aprLNoVZNchjJPslvaQ0Vhz0/edit" style="padding: 0px; min-width:0px;line-height:20px;">aquí</a>.</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Cosas a tener en cuenta ANTES de la emisión</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ul>
            <li>Establecer el nombre, la categoría y las etiquetas de la emisión desde el <a mat-button color="accent" routerLink="/editor-panel" style="padding: 0px; min-width:0px;line-height:20px;">Panel del editor</a> o desde los comandos del chat.</li>
            <li>La notificación del directo tarda hasta 5 minutos en llegar, procura no empezar el programa directamente ya que la gente ira entrando poco a poco en esos minutos.</li>
            <li>Aprovecha esos 5 minutos y haz SPAM en las redes.</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>¿Que miramos durante la emisión?</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ul>
            <li><span class="italics">!lodelsub</span> - Puedes hacer SPAM de las subscripciones en cualquier momento del directo, pero procura hacerlo al principio para que, al resubir el video, no interrumpa parte del programa.</li>
            <li>Si no sabes los beneficios que obtiene la gente al subscribirse para hacer <span class="italics">!lodelsub</span> puedes verlo <a target="_blank" mat-button color="accent" href="https://docs.google.com/document/d/1mxKLYkwIoreRQlbW3zWsrCS5wXw3pMgZe_G-a62MdKk/edit" style="padding: 0px; min-width:0px;line-height:20px;">aquí</a>.</li>
            <li><strong>PRESTA ATENCIÓN AL CHAT</strong> - Recuerda que hay gente viéndote en ese momento, préstales atención ya que han decidido estar aquí y no haciendo otra cosa.</li>
            <li>El chat puede gastar puntos de canal (pedrolos) para interactuar con vosotros. Cóbralos en el panel de moderador y atiéndelos.</li>
            <li>Antes de terminar recuerda cuando es el próximo directo de ScenioTV.</li>
            <li>Al finalizar puedes realizar una RAID (enviar a la gente del chat a otro directo) pero tratad de hacerlo a gente con contenidos afines a ScenioTV, o a un miembro de Scenio.</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Que hacemos al terminar la emisión</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ul>
            <li>Si no has grabado el directo, desde el <a mat-button color="accent" routerLink="/editor-panel" style="padding: 0px; min-width:0px;line-height:20px;">Panel de editor</a> puedes bajártelo. Hazlo lo antes posible por si Twitch censurara alguna parte del audio.</li>
            <li>Recuerda subir el video a Youtube al menos 24 horas después del directo. No debemos subirlos antes por las clausulas de partner de Twitch.</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
