<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <h2>Panel del editor de Twitch</h2>
  <a href="https://dashboard.twitch.tv/u/scenio/stream-manager" target="_blank"><img src="assets/panel-editor/panel-editor-screen.png" style="max-width:50vw;"/></a>
  <a href="https://dashboard.twitch.tv/u/scenio/stream-manager" target="_blank" mat-button color="accent" style="font-size:25px;">Acceder <mat-icon>open_in_new</mat-icon></a>
  <div>
    <p>Desde el panel de editor de Twitch puedes:</p>
    <ul>
      <li>Cambiar la información de de la retransmisión (nombre, categoría, etiquetas y notificación)</li>
      <li>Iniciar una raid hacia otro canal</li>
      <li>Hacer un clip durante la retransmisión</li>
      <li>Relizar una encuesta</li>
      <li>Reproducir un anuncio</li>
      <li>Ver los eventos de tus directos (nuevos seguidores, subs, puntos de canal gastados...)
      <li>Descargar los videos que os hayais olvidado de grabar</li>
      <li>Ver la calidad de la emisión</li>
      <li>¡Y más cosas!</li>
    </ul>
    <p>Cada editor puede personalizar el panel de la derecha con las cosas que más use, así que no dudes en ponerlo a tu gusto.</p>
  </div>

</div>


